/* #root{
  width: 100%;
  margin: 0 auto;
}
.appcontainer{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
} */

body{
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Nanum Gothic Coding', monospace;
  
  
}
.greeting{ 
  margin-left: 10vw;
  border: 1px solid black;
}
.homeicon{
margin-left: 10vw;
height: 30px;
width: 30px;
}
.homeicon:visited{
  color: black;
}
.navlinks{
  list-style: none;
  display: inline;
  margin-right: 10vw;
  
}
.link {
  /* display: inline; */
  margin-right: 3vw;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  
}
.link:visited{
  color: black;

}
.resumebtn{
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Nanum Gothic Coding', monospace;
  padding: 3px;
  font-size: 16px;
}


.homecontainer{
  display: flex;
  /* border: 1px solid black; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  /* padding: 200px; */
}


.entermessage{
  display: flex;
  /* border: 1px solid black; */
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace;
  line-height: 25px;
}

.enterbtn{
  background-color: transparent;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 20px;

}
.footercontainer{
  display: flex;
  justify-content: center;
}

footer{
  display: flex;
  justify-content: space-between; 
  margin-top: 30vh;
  width: 300px;
  /* border: 1px solid black; */
}
.icon{
  cursor: pointer;
  height: 40px;
  width: 40px;


}
.footer a:visited{
  color: black;
}
.contactcontainer{
  display: flex;
  /* border: 1px solid black; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  text-align: center;
}
.contactbtn{
  background-color: transparent;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 20px;
}
.projectcontainer{
  /* border: 1px solid black; */
}
.cardblock1{
  margin-bottom: 70px;
}
.cardblock2{

}
.cardcontent img{
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.cardcontent{
  /* border:1px solid black; */
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin-bottom: -100px;
  font-family: 'Nanum Gothic Coding', monospace;

}
.projecttitle{
  padding-left: 150px;
  margin-bottom: -20px;
}
