body{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.appcontainer{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Nanum Gothic Coding', monospace;
  color: black;
 
  
}

.homeicon{
/* margin-left: 10vw; */
height: 40px;
width: 40px;
color: black;
}
.homeicon:visited{
  color: black;
}
.navlinks{
  list-style: none;
  display: inline;
  /* margin-right: 7vw; */
  font-size: 30px;
  color: black;
}
.link {
  
  margin-right: 3vw;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: black;
  
}
.link:visited{
  color: black;

}
.resumebtn{
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Nanum Gothic Coding', monospace;
  padding: 3px;
  font-size: 20px;
}

.enterbtn{
  background-color: transparent;
  height: 80px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 30px;

}
.homecontainer{
  display: flex;
  /* border: 1px solid black; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  /* padding: 200px; */
}


.entermessage{
  display: flex;
  /* border: 1px solid black; */
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace;
  line-height: 40px;
  font-size: 30px;
}
.entermessage p::first-line{
  font-weight: 900;
  font-size:larger;

}


.footercontainer{
  display: flex;
  justify-content: center;
  height: 100px;
  margin-top: 30vh;
}

footer{
  display: flex;
  justify-content: space-between; 
  width: 300px;
  /* border: 1px solid black; */
}
.icon{
  cursor: pointer;
  height: 40px;
  width: 40px;
  color: black;

}
.footer a:visited{
  color: black;
}
.contactcontainer{
  display: flex;
  /* border: 1px solid black; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  text-align: center;
}
.contactbtn{
  background-color: transparent;
  height: 80px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 30px;
}
.contact{
  display: flex;
  /* border: 1px solid black; */
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace;
  line-height: 40px;
  font-size: 30px;
}
.contact p::first-line{
  font-weight: 900;
  font-size:larger;
}
.cardblock1{
  margin-bottom: 70px;
  /* border: 1px solid black; */
}
.cardblock3 img{
  width: 200px;
}
.cardcontent img{
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.cardcontent{
  /* border:1px solid black; */
  margin-top: 10vh;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin-bottom: -100px;
  font-family: 'Nanum Gothic Coding', monospace;
  line-height: 1.2;
}
.projecttitle{
  padding-left: 150px;
  margin-bottom: -20px;
}

.aboutcontainer{
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  margin-top: 20vh;
  max-width: 730px;

}
.aboutcontainer img{
  height: 400px;
  border: 5px solid black;
  border-radius: 10px;
}
.abouttext{
margin: 0px 20px;
font-family: 'Nanum Gothic Coding', monospace;
line-height: 1.16;
}
.repolink{
  font-size: 20px;
  text-decoration: none;
  /* border: 1px solid black; */
  color: black;
}
.repolink:visited{
  color: black;
}
.repo{
  margin-left: 150px;
  width: 50px;
  color: black;
}
