
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Nanum Gothic Coding', monospace;
  
  
}
.greeting{ 
  margin-left: 10vw;
  
}
.navlinks{
  list-style: none;
  display: inline;
  margin-right: 10vw;
  
}
.link {
  /* display: inline; */
  margin-right: 3vw;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  
}
.link:visited{
  color: black;

}
.resumebtn{
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Nanum Gothic Coding', monospace;
  padding: 3px;
  font-size: 16px;
}


.homecontainer{
  display: flex;
  /* border: 1px solid black; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  /* padding: 200px; */
}


.entermessage{
  display: flex;
  /* border: 1px solid black; */
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace;
  line-height: 25px;
}

.enterbtn{
  background-color: transparent;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 20px;

}


.footer{
  display: flex;
  justify-content: center; 
  /* border: 1px solid black; */
  margin-top: 30vh;

}
.icon{
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin-left: 2vw;
  margin-right: 2vw;
}
.footer a:visited{
  color: black;
}